<!DOCTYPE html>
<html lang="es">
    <head>
        {% include 'base/head.html' %}
        {% block custom_css %}
        
        {% endblock %}
    </head>

    {% load custom_tags %}
    <body>
        {% include "base/menu.html" %}
        
        {% block content %}

        {% endblock %}

        {% include "base/footer.html" %}
    </body>
    
    {% include "base/scripts.html" %}
    {% block custom_scripts %}
    
    {% endblock %}
</html>