{% load static %}
{% block content %}
      <footer>
        <div class="social">
          <a href="https://www.facebook.com/GobiernoDeJujuy/">
            <span class="icon icon-facebook"></span>
          </a>
          <a href="https://twitter.com/gobiernojujuy">
            <span class="icon icon-twitter"></span>
          </a>
          <a href="https://www.youtube.com/channel/UCJpTTamTMwx0b7zu12M5Y9Q">
            <span class="icon icon-youtube"></span>
          </a>
          <a href="https://www.instagram.com/gobiernodejujuy">
            <span class="icon icon-instagram"></span>
          </a>
        </div>
        
        <div class="row">
          <div class="col-md-2">
            
          </div>
          <div class="col-md-2">
            
          </div>
          <div class="col-md-2" style="float:right;">
            <img class="logo_unif" src="{% static 'img/logo_creador.png' %}" class="logo" style="margin-top: 10px"/>
          </div>
        </div>
      </footer>
{% endblock %}