{% load static %}
{% block content %}
    <menu>
        <div class="menu-logo">
            <img src="{% static 'img/logo_menu.png' %}" />
        </div>
        <nav class="navbar navbar-static-top">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% include "base/menu_opciones.html" %}
                    </ul>
                </div>
            </div>
        </nav>
    </menu>
{% endblock %}