<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'base_organigrama/head.html' %}
        {% block custom_css %}{% endblock %}
    </head>

    {% load custom_tags %}
    <body {% if ancho %}style="width: {{ancho}}px;"{% endif %}>
        {% include "base/menu.html" %}
        
        {% block content %}

        {% endblock %}

        {% include "base/footer.html" %}
    </body>
    
    {% include "base_organigrama/scripts.html" %}
    {% block custom_scripts %}{% endblock %}
</html>