{% load static %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <title>Organigrama Gubernamental</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/constantes.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_organigrama.css' %}" />
  </head>
{% endblock %}