{% load static %}

{% block content %}
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pop_up.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hide_show.js' %}"></script>

    <script>
        big_div = document.getElementById("li-{{origen.id}}");
        document.body.style.width = (big_div.offsetWidth + 200) + 'px';
        setTimeout(function () {
            window.scrollTo((big_div.offsetWidth / 2) - 900, 0);
        }, 200);
    </script>
{% endblock %}