{% extends 'base_organigrama/base.html' %}

{% block content %}
    <h1>Contacto</h1>
    <hr>
    <ul>
        <li><b>Direccion de Unificacion Informatica</b> [Director: Marcos Federico Mandrille]</li>
        <li><b>Email:</b> <a href="mmandrille@jujuy.gob.ar ">mmandrille@jujuy.gob.ar </a></li>
        <li><b>Dirección:</b> Sarmiento 174, 3E</li>
        <li><b>Telefonico:</b>
            <ul>
                <li>Telefono Fijo: +54 0388 – 4239400</li>
                <li>Whatsapp: +5493884456442</li>
            </ul>
        </li>
    </ul>
{% endblock %}