{% load static %}

{% block content %}
    <div class="institucional_titulo">
        <div class="institucional_titulo_texto">
            <h2><a href="{% url 'organismos:organismo' organismo_id=organismo.id %}">{{ organismo.nombre }}</a></h2>
        </div>
        {% if editable %}
            <div class="institucional_titulo_icons no-print">
                <a class="clean" target="_blank" href="{% url 'admin:organismos_organismo_change' object_id=organismo.id %}">
                    <img src="{% static 'img/edit_icon.png' %}" alt="(Edit)" class="icono">
                </a>
                <br>
                <a class="clean" target="_blank" href="{% url 'organismos:crear_sub_org' organismo_id=organismo.id %}">
                    <img src="{% static 'img/add_icon.svg' %}" alt="(Edit)" class="icono">
                </a>
            </div>
        {% endif %}
    </div>
    <div class="institucional_info">
        <h3> Informacion Util:</h3>
        <div id="org{{organismo.id}}_desc" style="display:none;">{{ organismo.descripcion|safe }}</div>
        {% if organismo.direccion %}<p><b>Direccion:</b> {{ organismo.direccion }}</p>{% endif %}
        {% if organismo.telefonos %}<p><b>Telefonos:</b> {{ organismo.telefonos }}</p>{% endif %}
        {% if organismo.web %}<a class="clean no-print" target="_blank" href="{{ organismo.web }}"><b>Pagina Web</b></a>{% endif %}
        {% if organismo.descripcion %}<button onclick="hide_show('org{{organismo.id}}_desc')" class="btn_descripcion no-print">(Ver Descripcion)</button>{% endif %}
    </div>
{% endblock %}