{% load static %}

{% block content %}
    {% for funcionario in organismo.funcionarios_actuales %}
        <div class="funcionario container">
            <div class="row">
                {% if funcionario.individuo.fotografia %}
                    <div class="col-sm-4">
                            <img src="{{funcionario.individuo.fotografia.url}}" alt="(foto)" class="img_logo">      
                    </div>
                {% endif %}
                <div class="funcionario_info col-sm-8">
                    <p>
                        <b>{{funcionario.get_cargo_display}}:</b> {{funcionario.individuo.titulo}} {{funcionario.individuo.apellidos}}, {{funcionario.individuo.nombres}}
                        {% if editable %}
                            <a class="clean no-print" target="_blank" href="{% url 'admin:organismos_funcionario_change' object_id=funcionario.id %}">
                                <img src="{% static 'img/edit_icon.png' %}" alt="(Edit)" class="icono">
                            </a>
                        {% endif %}
                    </p>
                    <p>{% if funcionario.individuo.telefono %}<b>Telefono:</b>{{funcionario.individuo.telefono}}{%endif%}</p>
                    <p>{% if funcionario.individuo.email %}<b>Email:</b>{{funcionario.individuo.email}}{%endif%}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}