{% block content %}
    <div id="{{organismo.id}}" class="popup">
        <a class="organismo">{{ organismo.nombre }}</a>
        <div class="popuptext">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Organismo-{{organismo.id}}')">Organismo</button>
                <button class="tablinks" onclick="openTab(event, 'Funcionarios-{{organismo.id}}')">Funcionarios</button>
                {% if user.is_staff %}
                    <button class="tablinks" onclick="openTab(event, 'Admin-{{organismo.id}}')">Administracion</button>
                {% endif %}
            </div>

            <div id="Organismo-{{organismo.id}}" class="tabcontent">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            {% if organismo.icono %} 
                                <img class="img_logo" src="{{ organismo.icono.url }}">
                            {% else %}
                                <img class="img_logo" src="/static/img/logo_gobierno.png">
                            {% endif %}
                        </div>
                        <div class="col-sm-8">
                            <div class="clean">
                                <h2 class="nombre_organismo">
                                    <a href="{% url 'organismos:organismo' origen_id=organismo.id %}">
                                        {{ organismo.nombre }}
                                        <img class="img_link" src="/static/img/link.png" alt="ver SubOrganismo">
                                    </a>
                                </h2>
                                {{ organismo.descripcion|safe }}

                                <h3> Informacion Util:</h3>
                                <p><b>Direccion:</b> {{ organismo.direccion }}</p>
                                <p><b>Telefonos:</b> {{ organismo.telefonos }}</p>
                                <a class="clean" target="_blank" href="{{ organismo.web }}"><b>Pagina Web</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="Funcionarios-{{organismo.id}}" class="tabcontent" style="display: none;">
                <h2>Funcionarios</h2>
                <div class="funcionarios" style="width: 100%">
                    {% include "info_funcionario.html" with organismo=organismo %}
                </div>
            </div>
            
            <div id="Admin-{{organismo.id}}" class="tabcontent" style="display: none;">
                {% if user.is_staff %}
                    <p class="clean">Modificar organismo o funcionarios</p>
                        <a class="clean" target="_blank" href="{% url 'admin:organismos_organismo_change' object_id=organismo.id %}">
                            <img class="img_icon" src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                        </a>
                    </p>
                    
                    <p class="clean">Crear SubOrganismo</p>
                        <a class="clean" target="_blank" href="{% url 'organismos:crear_sub_org' id_padre=organismo.id %}">
                            <img class="img_icon" src="/static/admin/img/icon-addlink.svg" alt="Agregar SubOrganismo">
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}