{% block content %}
    <li id="li-{{organismo.id}}">
        {% include "mostrar_organismo.html" with organismo=organismo %}
        {% if organismo.hijos.exists %}
            <ul>
                {% for org_hijo in organismo.hijos.all %}
                    {% include "nodo_arbol.html" with organismo=org_hijo %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endblock %}