{% block content %}
    <li id="li-{{organismo.id}}">
        {% include "mostrar_organismo.html" with organismo=organismo %}

        {% if organismo.hijos.exists %}
            {% ifnotequal max_child count  %}
                <ul>
                    {% for org_hijo in organismo.hijos.all %}
                        {% include "nodo_arbol_limit.html" with organismo=org_hijo max_child=max_child count=count|add:1 %}
                    {% endfor %}
                </ul>
            {% endifnotequal %}
        {% endif %}
    </li>
{% endblock %}