{% extends 'base_organigrama/base.html' %}

{% load static %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/organigrama.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/pop_up.css' %}" />
{% endblock %}

{% block content %}
    <div class="popup-overlay"></div>
    <div class="organigrama">
        <ul>
            {% include "nodo_arbol_limit.html" with organismo=origen max_child=max_child count=0 %}
        </ul>
    </div>
{% endblock %}