{% load static %}

{% block content %}
    <div class="header">
        <img src="{% static 'img/hornacal.jpg' %}" alt="(Edit)" class="imagen_header">
        <div class="header_titulo">
            <h1>Nomina Provincial</h1>
        </div>
        <div class="header_encabezado">
            <p >Fecha: {{ fecha | date:"d/m/Y" }}</p>
        </div>
        <div class="header_logo">
            <img src="{% static 'img/jujuy.png' %}" alt="(Edit)">
        </div>
    </div>
    <p><a class="derecha no-print" href="" onclick="Imprimir()">(Imprimir Nomina)</a></p>
    <br>
    {% if user.is_staff %}
        {% if editable %}
            <p><a class="derecha no-print" href="/lista">Ir a version normal</a></p>
        {% else %}    
            <p><a class="derecha no-print" href="/lista_edit">Ir a version editable</a></p>
        {% endif %}
    {% endif %}
{% endblock %}