{% load static %}

{% block content %}
    {% if organismo.activo and organismo.visible %}
        <li>
            <p><b>{{organismo.nombre}}</b></p>
            
            {% if organismo.hijos.exists %}
                <ul>
                    {% for org_hijo in organismo.hijos.all %}
                        {% include "lista_organigrama/nodo_simple_list.html" with organismo=org_hijo %}
                    {% endfor %}
                </ul>
            {% endif %}
        
        </li>
    {% endif %}
{% endblock %}