{% load static %}

{% block content %}
    {% if organismo.activo and organismo.visible %}
        <div class="organismo" style="background-image: linear-gradient(to bottom right, {{organismo.color}} , white);">
            <div class="institucional">
                <p>
                    <b>{{organismo.nombre}}</b>
                    {% if editable %}
                        <a class="clean" target="_blank" href="{% url 'admin:organismos_organismo_change' object_id=organismo.id %}">
                            <img src="/static/img/edit_icon.png" alt="(Edit)" class="icono">  
                        </a>
                    {% endif %}
                </p>
                {% if organismo.direccion %}<p>Direccion: {{organismo.direccion}}</p>{% endif %}
                {% if organismo.telefonos %}<p>Telefonos: {{organismo.telefonos}}</p>{% endif %}
                {% if organismo.web %}<p><a href="{{organismo.web}}">Pagina Web</a></p>{% endif %}
            </div>
            <div class="funcionarios">
                {% include "info_funcionario.html" with organismo=organismo %}
            </div>
            {% if organismo.hijos.exists %}
                {% for org_hijo in organismo.hijos.all %}
                    {% include "lista_organigrama/nodo_lista.html" with organismo=org_hijo edit=edit %}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}