<html>
    
    <head>
        <meta charset="utf-8">
        <title>Nomina Provincial</title>
        {% load static %}
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/simple_list.css' %}" />
    </head>

    <body>
        <ul>
            {% include "lista_organigrama/nodo_simple_list.html" with organismo=origen %}
        </ul>
    </body>

</html>