{% block content %}
    <li>
        <div class="popup">
            <a>{{ organismo.nombre }}</a>
            <div class="popuptext">
                {% if organismo.icono %} <img src="/{{ organismo.icono.url }}" >{% endif %}
                <div class="org_descripcion">{{ organismo.descripcion|safe }}</div>
                <p>Direccion: {{ organismo.direccion }}</p>
                <p>Telefono: {{ organismo.telefono }}</p>
                <p>Pagina Web: {{ organismo.web }}</p>
            </div>
        </div>

        {% if organismo.hijos.exists %}
            <ul>
                {% for org_hijo in organismo.hijos.all %}
                    {% include "nodo_arbol.html" with organismo=org_hijo %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endblock %}