{% extends 'base/base.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Inventario:</h1>
                    <div class="col-md-12">
                        <ul class="menu_botones">
                            <li><a href="{% url 'admin:inventario_item_changelist' %}">Lista Inventario</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}