{% extends 'base/base.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <div class="col-md-12">
                        <h1>Empleados con este Perfil:</h1>
                        {% for individuo in individuos %}
                            <div class="col-md-4">
                                <h3><b>{{individuo.apellidos}}, {{individuo.nombres}}</b></h3>
                                <p>
                                    <b>Puntaje:</b>{{individuo.puntaje}}
                                     <a target="_blank" href="{% url 'empleados:ver_panel' individuo_id=individuo.pk %}">(Ver Resumen)</a>
                                </p>
                                <table class="listado">
                                    <tr>
                                        <th>Habilidad</th>
                                        <th>Nivel</th>
                                    </tr>
                                    {% for habilidad in individuo.habilidades.all %}
                                        <tr {% if habilidad.habilidad.pk in habilidades_buscadas %}style="font-weight: bold;"{% endif %}>
                                            <td>{{habilidad.habilidad.nombre}}</td>
                                            <td>
                                                {{habilidad.get_nivel_display}} ({{habilidad.nivel}})
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}