{% extends 'base/base.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Empleados:</h1>
                    <div class="col-md-12">
                        <ul class="menu_botones">
                            {% if individuo %}
                                <li><a href="{% url 'empleados:ver_panel' individuo_id=individuo.pk %}">Ver Mi Panel</a></li>
                            {% endif %}
                            <li><a href="{% url 'admin:empleados_individuo_changelist' %}">Lista Empleados</a></li>
                            <li><a href="{% url 'empleados:buscar_por_habilidad' %}">Buscar Empleados por habilidad</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}