{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="{% url 'empleados:mod_foto' individuo_id=individuo.id %}" target="_blank">
                                    {% if individuo.fotografia %}
                                        <img class="fotografia" src="{{individuo.fotografia.url}}">
                                    {% else %}
                                        <img class="fotografia" src="{% static '/img/nofoto.png' %}" alt="Modificar">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-sm-9">
                                <h2>
                                    <b>{{individuo.apellidos}}, {{individuo.nombres}}</b>
                                    <a href="
                                        {% if user.is_staff %}
                                                {% url 'admin:empleados_individuo_change' object_id=individuo.id %}
                                            {% else %}
                                                {% url 'empleados:mod_datos' individuo_id=individuo.id %}
                                            {% endif %}" 
                                        target="_blank">
                                            <img class="icons" src="{% static '/img/icons/change.png' %}" alt="Modificar">
                                    </a>
                                </h2>
                                <!-- DATOS PERSONALES -->
                                <p><b>Datos Basicos:</b></p>
                                <div class="col-sm-6">
                                    <p>Cuil: {{individuo.cuil}}</p>
                                    <p>Documento: {{individuo.get_tipo_doc_display}} {{individuo.num_doc}}</p>
                                    <p>Fecha de Nacimiento: {{individuo.fecha_nacimiento}}</p>
                                </div>
                                <div class="col-sm-6">
                                    <p><b>Contacto:</b></p>
                                    <p>Telefono: {{individuo.telefono}}</p>
                                    <p>Email: {{individuo.email}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row tab-content">
                    <div class="col-sm-6">
                        <!-- Informacion Academica -->
                        <h2 style="text-align: center;width: 100%;">Escolaridad</h2>
                        <table class="listado">
                            <tr>
                                <th>Nivel</th>
                                <th>Titulo</th>
                                <th>Establecimiento</th>
                                <th>Fechas</th>
                                <th>Documento</th>
                            </tr>
                            {% for registro in individuo.escolaridad.all %}
                                <tr>
                                    <td>{{registro.get_nivel_display}}</td>
                                    <td>{{registro.titulo}}</td>
                                    <td>{{registro.establecimiento}}</td>
                                    <td>{{registro.begda}} - {% if registro.terminado %}{{registro.endda}}{% endif %}</td>
                                    <td>
                                        {% if registro.archivo %}
                                            <a href="{{registro.archivo.url}}">Descargar</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <a class="botoncito" href="{% url 'empleados:agregar_escolaridad' individuo_id=individuo.id %}">
                            Agregar Historial Academico
                            <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <!-- Informacion Academica -->
                        <h2 style="text-align: center;width: 100%;">Habilidades y Aptitudes</h2>
                        <table class="listado">
                            <tr>
                                <th>Habilidad</th>
                                <th>Nivel</th>
                                <th>Descripcion</th>
                            </tr>
                            {% for habilidad in individuo.habilidades.all %}
                                <tr>
                                    <td>{{habilidad.habilidad}}</td>
                                    <td>{{habilidad.get_nivel_display}}</td>
                                    <td>{{habilidad.descripcion}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <a class="botoncito" href="{% url 'empleados:agregar_habilidad' individuo_id=individuo.id %}">
                            Agregar Habilidad/Aptitud
                            <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row tab-content">
                    <!-- Recibos de Sueldo -->
                    <h2>Recibos de Sueldo</h2>
                    {% for empleo in individuo.empleos.all %}
                        <h3>{{empleo}} ({{empleo.begda}} - {{empleo.endda}})</h3>
                        {% for recibo in empleo.recibos.all %}
                            {% if forloop.first %}
                                <table class="listado">
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Fecha</th>
                                        <th>Archivo</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{recibo.get_tipo_display}}</td>
                                <td>{{recibo.fecha}}</td>
                                <td>
                                    {% if recibo.archivo %}
                                        <a href="{{recibo.archivo.url}}" target='_blank'>
                                            <img class="icons" src="{% static '/img/icons/download.png' %}" alt="Download">
                                        </a>
                                    {% endif %}
                                </td>
                                <td></td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </section>
{% endblock %}
