{% block content %}
    <form class="buscador" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" id="search" name="search" placeholder="">
        <button type="submit">Buscar</button>
    </form>
{% endblock %}