@page {
    size: A4;
    margin: 1cm;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

a {
    color: black;
}

.derecha {
    text-align: right;
    float: right;
}
/*HEADER*/
.header{
    position: relative;
    text-align: center;
    color: white;
}

.imagen_header{
    width:100%;
    height: 300px;
    background-color: gray;
    overflow: hidden;
}

.header_titulo{
    display: none !important;
    color: rgb(0, 0, 0);
}
.header_encabezado{
    position: absolute;
    top: 8px;
    right: 16px;
}

.header_logo{
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/*LISTADO*/

.listado {
    width: 100%;   
}
/*ORGANISMO*/
.organismo {
    width: 99%;
    border-style: hidden;
    float: right;
    margin-top:20px;
    margin-bottom: 5px;
}

/* INSTITUCIONAL */
.institucional{
    display: inline-block;
    max-width: 100%;
    margin: 10px
}

.institucional_foto{
    display: inline-block;
    width: 25%;
}

.img_institucional{
    max-width:100%;
    max-height:100%;
}

.institucional_titulo{
    display: inline-block;
    width: 99%;
    vertical-align: top;
}

.institucional_titulo_texto{
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

.institucional_titulo_icons{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: right;
}


.institucional_info{

}

/*FUNCIONARIO*/
.funcionarios{
    display: inline-block;
    max-width: 100%;
    vertical-align: bottom;
    border-style: hidden;
}

.funcionario{
    width: 100%;
    border-style: hidden;
}

.funcionario_foto{
    display: inline-block;
    width: 20%;
}

.img_funcionario{
    max-width:100%;
    max-height:100%;
}

.funcionario_info{
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.icono{
    height: 1.12em;
    vertical-align: bottom;
}

.btn_descripcion{
    background-color: rgb(160, 160, 160);
    border: none;
    color: rgb(255, 255, 255);
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 25px;
}