/*BASICOS*/

html {
    min-height: 100%;
    position: relative;
}

body {
    background: url("../img/background.png");
    overflow-x: hidden;
    font-family: Archia;
    padding-top: 70px;
    min-height: 95%;
    margin-bottom: 150px;
    overflow-x: auto;
}

h1 {
    font-family: Archia;
}

p {
    font-family: Lato-Black;
    font-size: 16px;
}

a:focus, a:hover {
    text-decoration: none;
}
/*Portada*/

.portada {
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    box-shadow: 0 0 30px #1c4d657a;
    display: inline-block;
    text-align: center;
    padding-top: 0%;
    width: 100%;
}

.portada img {
    max-height: 200px;
    float: left; 
}

.portada h1 {
    width: 55%;
    float: right;
    font-weight: bold;
    vertical-align: middle;
    text-shadow: 4px 5px 11px black;
}

.portada>.mobile {
    display: none;
}